* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --dark-cyan: hsl(185, 75%, 39%);
    --very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --dark-grayish-blue: hsl(227, 10%, 46%);

    --dark-gray: hsl(0, 0%, 59%);
}

html {
    font-size: 18px;
    font-family: 'Kumbh Sans', sans-serif; /*- Weights: 400, 700*/
    background-color: var(--dark-cyan);
    overflow: hidden;
    background: url("images/bg-pattern-top.svg"), url("images/bg-pattern-bottom.svg"), var(--dark-cyan);
    background-repeat: no-repeat;
    background-position: right calc(47vw + 15%) bottom calc(65vh - 15vw), left calc(40vw + 25%) top calc(72vh - 10vw);
}

.container {
    max-width: 100vw;
    height: 98vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.container-fluid {
    width: 400px;
    height: 450px;
    border-radius: 15px;
    color: var(--very-dark-desaturated-blue);
    background-color: white;
    z-index: 3;
}

.profile-back {
    position: relative;
}

.profile-back img {
    position: absolute;
    width: 100%;
    height: auto;
    border-radius: 15px 15px 0 0;
    z-index: -1;
}

.profile-image img {
    border-radius: 50%;
    border: 5px solid white;
    width: 120px;
    height: auto;
    z-index: 0;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin-top: 100px;
    text-align: center;
}

.name-age {
    display: flex;
    align-items: center;
    font-weight: 400;
    padding-top: 20px;
}

.infos-age {
    font-size: 1.2rem;
    padding-left: 10px;
}

.infos-age, .city, .stats p {
    color: var(--dark-grayish-blue);
}

.city {
    font-size: 0.9rem;
    padding-top: 20px;
    padding-bottom: 35px;
}


hr {
    border-color: var(--dark-gray);
    width: 100%;
    border-top: none;
}

.stats {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    padding-top: 1.3rem;
}

.stats h2 {
    font-size: 1.1rem;
}

.stats p {
    font-size: 0.7rem;
    letter-spacing: 0.1rem;
    padding-top: 5px;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}


@media (max-width: 375px) {
    .container-fluid {
        width: 320px;
        height: 390px;
    }

    .profile-image img {
        width: 110px;
    }

    .profile {
        margin-top: 75px;
    }

    .infos {
        margin-top: 3px;
    }

    .name-age {
        font-size: 0.9rem;
    }

    .city {
        padding-top: 10px;
        padding-bottom: 30px;
    }

    .stats {
        padding-top: 1.4rem 1rem 0 1rem ;
        font-size: 0.9rem;
    }
    
    .stats p {
        font-size: 0.6rem;
        letter-spacing: 0.1rem;
        padding-top: 5px;
    }

    .background {
        opacity: 0.6;
    }

    .back-top {
        top: -95%;
        left: -195%;
    }
    
    .back-bottom {
        top: 45%;
        left: 30%;
    }
}

